<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

    .navbar {
      background-color: #2E2E30;
      z-index: 1;
    }

    .navbar-brand {
      color: white;
    }

    .navbar-toggler-icon {
      background-color: white;
    }

    .navbar-nav .nav-link {
      color: white;
    }

    .navbar-nav .nav-link:hover {
      color: #cbd5e0;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 16rem;
      height: 100%;
      background-color: #2E2E30;
      padding-top: 20px;
      z-index: 2;
    }

    .sidebar-logo {
      color: white;
      text-align: center;
    }
    
    .sidebar-menu a {
      color: white;
      padding: 8px 16px;
      display: block;
      text-decoration: none;
    }

    .sidebar-menu a:hover {
      background-color: #cbd5e0;
      color: #2E2E30;
    }

    .logout_btn {
      position: relative;
      top: 0;
      font-size: 5px;
      left: 20px;
      opacity: 0;
    }
    .container-fluid{
        margin-left:80rem;
    }
  </style>
</head>

<body>
  <% if user_signed_in? %>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="sidebar">
    <div class="sidebar-logo"><%= current_user.first_name%></div>
    <div class="sidebar-menu">
      <a href="#" class="active">Home</a>
      <a href="#">Teams</a>
      <a href="#">Billing</a>
      <a href="#">Invoices</a>
      <a href="#">Account</a>
    </div>
    <% if user_signed_in? %>
      <%= button_to "Sign_out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} ,class: 'logout_btn' %>
    <% end %>
  </div>

  <% end %>
</body>

</html>
